@charset "UTF-8";
.ba-module__menu .menu__mobile {
  display: none;
}
.ba-module__menu .menu__container > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
  background: transparent;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.ba-module__menu .menu__container > ul li.menu-item {
  position: relative;
  margin: 0;
  -webkit-transition: 0.3s ease background-color;
  transition: 0.3s ease background-color;
}
.ba-module__menu .menu__container > ul li.menu-item a {
  color: inherit;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.ba-module__menu .menu__container > ul li.menu-item.menu-item-has-children > a::after {
  content: "ï‡";
  font-family: dashicons;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: 0.2s ease transform;
  transition: 0.2s ease transform;
}
.ba-module__menu .menu__container > ul li.menu-item.menu-item-has-children.menu__item--open > .sub-menu, .ba-module__menu .menu__container > ul li.menu-item.menu-item-has-children:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}
.ba-module__menu .menu__container > ul li.menu-item.menu-item-has-children.menu__item--open > a::after, .ba-module__menu .menu__container > ul li.menu-item.menu-item-has-children:hover > a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.ba-module__menu .menu__container > ul li.menu-item .sub-menu {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 100%;
  z-index: 100;
  top: 0;
}
.ba-module__menu .menu__container > ul li.menu-item .sub-menu li.menu-item a {
  padding: 10px 20px;
}
.ba-module__menu .menu__container > ul > li.menu-item {
  background-color: transparent;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ba-module__menu .menu__container > ul > li.menu-item a {
  padding: 10px 25px;
}
.ba-module__menu .menu__container > ul > li.menu-item > .sub-menu {
  top: 100%;
}

html[dir=rtl] .ba-module__menu .menu__container > ul li.menu-item .sub-menu {
  left: -100%;
}
html[dir=rtl] .ba-module__menu .menu__container > ul li.menu-item .sub-menu li.menu-item.menu-item-has-children > a::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
html[dir=rtl] .ba-module__menu .menu__container > ul > li.menu-item > .sub-menu {
  right: 0;
  left: unset;
}

html:not([dir=rtl]) .ba-module__menu .menu__container > ul li.menu-item .sub-menu {
  left: 100%;
}
html:not([dir=rtl]) .ba-module__menu .menu__container > ul li.menu-item .sub-menu li.menu-item.menu-item-has-children > a::after {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
html:not([dir=rtl]) .ba-module__menu .menu__container > ul > li.menu-item > .sub-menu {
  left: 0;
}