.ba-cheetah-animated.ba-cheetah-slide-in-up {
  	animation: ba-cheetah-slide-in-up 1s ease;
  	-webkit-animation: ba-cheetah-slide-in-up 1s ease;
}
@-webkit-keyframes ba-cheetah-slide-in-up {
  from {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes ba-cheetah-slide-in-up {
  from {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
