.ba-module__mailingboss .mailingboss__form {
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.ba-module__mailingboss .mailingboss-form-group {
  margin-bottom: 0;
}
.ba-module__mailingboss .mailingboss-form-group.mailingboss-form-group-hidden {
  display: none;
}
.ba-module__mailingboss .mailingboss-cr-label,
.ba-module__mailingboss .mailingboss-label {
  display: block;
}
.ba-module__mailingboss input[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}
.ba-module__mailingboss input[type=checkbox]::after, .ba-module__mailingboss input[type=checkbox]::before {
  content: none;
}
.ba-module__mailingboss input[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}
.ba-module__mailingboss input[type=radio]::after, .ba-module__mailingboss input[type=radio]::before {
  content: none;
}
.ba-module__mailingboss .mailingboss-form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.ba-module__mailingboss .mailingboss-required {
  color: #F00;
}
.ba-module__mailingboss .ba-module__button {
  margin-top: 1rem;
}